.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

#quote-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5db49;
  border: 20px solid green;
  width: 500px;
  height: 300px;
}

#quote-text {
  text-align: center;
}
#btns-display{
  display: inline;
}